# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

frontend/resso_frontend/node_modules# =========================
# Python / Django
# =========================
__pycache__/
*.py[cod]
*.sqlite3
*.log
*.pot

# Virtual environment
venv/
env/
ENV/
Backend/venv/

# Django settings
.env
.env.local

# =========================
# Node / React / Vite
# =========================
./node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Vite
dist/
.vite/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db
desktop.ini

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/
*.swp

# =========================
# Build & cache
# =========================
coverage/
.cache/

# =========================
# Media & uploads
# =========================
media/
uploads/

# =========================
# Git
# =========================
*.orig
*.rej

dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
